.cart p, .cart h3 {
    margin: 0;
}

table {
    margin-top: 20px;
    background-color: #fbfbfb;
}

table, th, td {
    border: 2px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 5px;
}