.employee {
    border-radius: 5px;
    box-shadow: 4px 4px 10px #888888;
    background-color: #f9f9f9;
}

.employee img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.employee-details {
    padding: 20px;
}

.employee button {
    padding : 5px 16px;
}